<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/chatList.js"></script>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/chatList.css">
  <title>Document</title>
</head>

<body>

  <div class="search"><input type="text" id="search-input"><img src="/icons/search.svg" class="searchIcon"> </div>
  <div class="container">
  <% for (const chat of chats) { %>
    <div class="chatPerson" data-id="<%=chat.room_id%>">
      <div class="image-cropper">
         <img id="profile-pic" src="<%=chat. profile_img%>" alt="">
      </div>
      <p class="name">
        <%=chat.username%>
      </p>
    </div>
    <div class="msgNtime">
      <p>Most recent message</p> <p class="time">yesterday</p>
    </div>
    <hr>
    <%}%>
  </div>
      <nav class="nav">
        <a href="/home" class="nav_link">
          <img src="/icons/Home.svg">
        </a>
        <a href="/likedItems" class="nav_link wished">
          <img src="/icons/wished.svg">
        </a>
        <a href="createListing" class="nav_link postNew">
          <img src="/icons/Add.svg">
        </a>
        <a href="/chatList" class="nav_link">
          <img src="/icons/chat-filled.svg">
        </a>
        <a href="profile" class="nav_link">
          <img src="/icons/me.svg">
        </a>
      </nav>

</body>

</html>