<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createListing.css">
    <script type="module" src="/createlisting.js" defer></script>
    <link rel="stylesheet" href="/css/nav.css">
    <title>VanMarket</title>
    <link rel="icon" type="image/x-icon" href="/icons/logo.svg">
</head>

<body>
    <main>
        <script>
            document.querySelector('img.back-btn').addEventListener('click', () => {history.back()})
        </script>

        <div class="person">
            
                    <div class="image-cropper">
                        <img id="profile-pic" src="<%=user.profile_img%>">
                    </div>
                    <div class="name-text">
                        <p class="profile">
                           <span class="name"><%=user.username%></span><br>
                                <small>Listed on VanMarket <img class="logo" src="icons/Logo.svg"></small>
                        </p>
                    </div>
                
                  
        </div>

        <div class="new-prdct-form">
            <form id="form" method="post" action="createListing">
                <div class="addImage display_image" >
                    <div class="addImageIcon">
                        <img src="/icons/addImageIcon.svg" alt="">
                    </div>
                    <div>Add an image</div>
                </div>
                <input id="files" class="imageUpload" type="file" name="fileUpload" accept="image/*" hidden>
                
                <label class="details" for="title">Title</label>
                <input maxlength="21" class="title rectangular-input" type="text" name="title">

                <label class="details" for="price">Price</label>
                <input class="price rectangular-input" type="number" name="price">

                <label class="details" for="condition">Condition</label>
                <select name="condition" id="condition" class="rectangular-input">
                    <option value="1">New</option>
                    <option value="2">Used - Like New</option>
                    <option value="3">Used - Good</option>
                    <option value="4">Used - Fair</option>
                </select>

                <label class="details" for="description">Description</label>
                <textarea dir="ltr" id="description" maxlength="500" class="description rectangular-input" type="text" name="description"></textarea>

                <label class="details" for="cateogty">cateogty</label>
                <select name="cateogty" id="cateogty" class="rectangular-input">
                    <option value="1" selected>Electronics</option>
                    <option value="2">Clothing</option>
                    <option value="3">Furniture</option>
                    <option value="4">Accessories</option>
                    <option value="5">Jewellery</option>
                    <option value="6">Food</option>
                    <option value="7">Other</option>
                </select>

                <label class="details " for="location">Location</label>
                <select name="Location" id="Location" class="rectangular-input">
                    <option value="1">Vancouver</option>
                    <option value="2">North Vancouver</option>
                    <option value="3">Burnaby</option>
                    <option value="4">Richmond</option>
                    <option value="5">Surrey</option>
                    <option value="6">Langley</option>
                    <option value="7">Coquitlam</option>
                    <option value="8">Port Coquitlam</option>
                    <option value="9">Maple Ridge</option>
                    <option value="10">Abbotsford</option>
                </select>

                <button id="create" class="submit-btn" type='submit'> Create Listing <img class="arrow" src="icons/create.svg"> </button>
            </form>
        </div>
    </main>

    <nav class="nav">
        <a href="/home" class="nav_link">
            <img src="/icons/Home.svg">
        </a>
        <a href="/likedItems" class="nav_link wished">
            <img src="/icons/wished.svg">
        </a>
        <a href="" class="nav_link postNew">
            <img src="/icons/add-filled.svg">
        </a>
        <a href="/chatList" class="nav_link">
            <img src="/icons/nav_chat.svg">
        </a>
        <a href="profile" class="nav_link">
            <img src="/icons/me.svg">
        </a>
    </nav>
    <script>
        let autocomplete;
        function initMap() {
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete'), ({ 'country': [] }))
        }

        document.querySelector(".addImage").addEventListener("click", () => {
            document.querySelector('.imageUpload').click()
        })

    </script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEEdlSNtFmvvp-6Gc3hS2dBxuP_0gDsI8&libraries=places&callback=initMap"
        async defer></script> -->

</body>

</html>

