<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/createListing.css">
    <script type="module" src="/createlisting.js" defer></script>
    <link rel="stylesheet" href="/css/nav.css">
    <title>VanMarket</title>
</head>

<body>
    <main>

        <div class="person">
            <% for (let user of users) { %>
                <%if(user.user_id===userId){ %>
                    <div class="image-cropper">
                        <img id="profile-pic" src="<%=user.profile_img%>">
                    </div>
                    <div class="name-text">
                        <p class="profile">
                           <span class="name"><%=user.username%></span><br>
                                <small>Listed on VanMarket <img class="logo" src="icons/Logo.svg"></small>
                        </p>
                    </div>
                
                    <%break;} %>
                        <%}%>
        </div>

        <div class="new-prdct-form">
            <form id="form" method="post" action="createListing">
                <div class="addImage display_image" >
                    <div class="addImageIcon">
                        <img src="/icons/addImageIcon.svg" alt="">
                    </div>
                    <div>Add an image</div>
                </div>
                <input id="files" class="imageUpload" type="file" name="fileUpload" accept="image/*" hidden>
                
                <label class="details" for="title">Title</label>
                <input class="title rectangular-input" type="text" name="title">

                <label class="details" for="price">Price</label>
                <input class="price rectangular-input" type="number" name="price">

                <label class="details" for="condition">Condition</label>
                <select name="condition" id="condition" class="rectangular-input">
                    <option value="new" selected>New</option>
                    <option value="used - like new">Used - Like New</option>
                    <option value="used - good">Used - Good</option>
                    <option value="used - fair">Used - Fair</option>
                </select>

                <label class="details" for="description">Description</label>
                <textarea id="description" maxlength="500" class="description rectangular-input" type="text" name="description">
                </textarea>
                <label class="details " for="location">Location</label>
                <input id="autocomplete" class="rectangular-input" type="text" placeholder="Enter a place..."
                    name="location">

                <button id="create" class="submit-btn" type='submit'> Create Listing <img class="arrow" src="icons/create.svg"> </button>
            </form>
        </div>
    </main>

    <nav class="nav">
        <a href="/home" class="nav_link">
            <img src="/icons/Home.svg">
        </a>
        <a href="" class="nav_link wished">
            <img src="/icons/wished.svg">
        </a>
        <a href="" class="nav_link postNew">
            <img src="/icons/add-filled.svg">
        </a>
        <a href="/chat" class="nav_link">
            <img src="/icons/nav_chat.svg">
        </a>
        <a href="profile" class="nav_link">
            <img src="/icons/me.svg">
        </a>
    </nav>
    <script>
        let autocomplete;
        function initMap() {
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete'), ({ 'country': [] }))
        }

        document.querySelector(".addImage").addEventListener("click", () => {
            document.querySelector('.imageUpload').click()
        })

    </script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEEdlSNtFmvvp-6Gc3hS2dBxuP_0gDsI8&libraries=places&callback=initMap"
        async defer></script> -->

</body>

</html>