<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/swipe.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Van Market</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script type="module" src="/swipe.js"></script>
    <script type="module" src="/frontend.js" defer></script>
</head>
<main>
        <div id="board"></div>
</main>
<nav class="nav">
    <a href="/home" class="nav_link">
        <img src="/icons/home-filled.svg">
    </a>
    <a href="" class="nav_link wished">
        <img src="/icons/wished.svg">
    </a>
    <a href="" class="nav_link postNew">
        <img src="/icons/add.svg">
    </a>
    <a href="/chat" class="nav_link">
        <img src="/icons/nav_chat.svg">
    </a>
    <a href="profile" class="nav_link">
        <img src="/icons/me.svg">
    </a>
</nav>

<div class="createNew displayNone">
    <div class="bar"></div>
    <p class="create_text">Create New Listing</p>
    <a href="/createListing" class="catagories electronics"><img class="cata_icon"
            src="icons/electronics.svg">Electronics</a>
    <a href="/createListing" class="catagories clothes"> <img class="cata_icon" src="/icons/clothes.svg"> Clothes</a>
    <a href="/createListing" class="catagories furniture"> <img class="cata_icon" src="/icons/furniture.svg">Funiture</a>
    <a href="/createListing" class="catagories other"> <img class="cata_icon" src="/icons/other.svg"> Other</a>
</div>

</body>


</html>