 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/swipe.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet"
        href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Van Market</title>
    <script type="module" src="frontend.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script type="module" src="/swipe.js"></script>
</head>
<body> 

    <!-- <img src="/photos/orange.svg" class="orangeShit" alt=""> -->

    <div class="afterPanel">
        <div class="logo">
            <img src="icons/logo.svg">
        </div>

        <div class="above-card">
            <img src="icons/heart.svg" class="idkwtf">
        </div>
        <div id="board"></div>
    </main>
    <nav class="nav">
        <a href="/" class="nav_link">
            <img src="icons/Home.svg">
        </a>
        <a href="" class="nav_link">
            <img src="icons/Explore.svg">
        </a>
        <a href="" class="nav_link postNew">
            <img src="icons/Add.svg">
        </a>
        <a href="" class="nav_link">
            <span class="material-symbols-outlined">
                chat_bubble
            </span>
        </a>
        <a href="profile" class="nav_link">
            <img src="icons/Profile.svg">
        </a>
    </nav>

    <div class="createNew displayNone">
        <div class="bar"></div>
        <p class="create_text">Create New Listing</p>
        <a href="#" class="catagories electronics"><img class="cata_icon" src="icons/electronics.svg"> Electronics</a>
        <a href="#" class="catagories clothes"> <img class="cata_icon" src="icons/clothes.svg"> Clothes</a>
        <a href="#" class="catagories runiture"> <img class="cata_icon" src="icons/furniture.svg"> Funiture</a>
        <a href="#" class="catagories other"> <img class="cata_icon" src="icons/other.svg"> Other</a>
    </div>

</body>


</html> 