<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VanMarket</title>
</head>
<body>
    <h1>this page needs to be the first page when people visit out app,
    to be designed</h1>
</body>
</html>
