<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Van Market</title>
    <link rel="stylesheet" href="likedItems.css">
</head>

<body>
    <p class="title">Favourites
    <p>

    <div class="views">
        <a href="#" class="views_link">
            <img src="icons/Icons.svg" class="filter_icon"> Show by Icons
        </a>
        <a href="#" class="views_link">
            <img src="icons/List.svg" class="filter_icon">Show by List
        </a>
        <a href="#" class="views_link">
            <img src="icons/filter.png" class="filter_icon">Filter
        </a>
    </div>

    <section class="icon_views">
        <%for (let i=0; i < likeList.length; i++) {%>
            <div class="white_frame">
                <div class="img_cropper">              
                    <img class="liked_img" src="<%= likeList[i].img%>">
                </div>
                <div class="item_description">
                    <p><%= likeList[i].description%></p>
                </div>
            </div>
            <%}%>

    </section>


    <nav class="nav">

        <a href="" class="nav_link">
            <img src="icons/Home.svg">
        </a>
        <a href="" class="nav_link">
            <img src="icons/Explore.svg"> 
        </a>
        <a href="" class="nav_link">
            <img src="icons/Add.svg">
        </a>
        <a href="" class="nav_link">
            <img src="icons/NewMessageNo.svg">
        </a>
        <a href="" class="nav_link">
            <img src="icons/Profile.svg">
        </a>
    </nav>
</body>

</html>