<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="css/payment.css">
</head>

<body>

    <p class="title"> Payment
    <p>
        <div class="card_frame">
        <small>Registered Card</small>
        <img class="credit_card" src="images/creditCard.png">
    
    <div class="banner">
        <p class="method">ADD NEW PAYMENT METHOD</p>
        <img class="plus" src="icons/plus.svg">
    </div>
</div>

<section class="order">
    <ul class="setting">
        <li class="setting_list"> <div class="left"><img class="setting_icon" src="icons/Credit_Card.svg"><a href="payment" class="setting_text">Payment</a> </div><div><img class="arrow_icon" src="icons/Right_arrow.svg"></div></li>
        <li class="setting_list"> <div class="left"><img class="setting_icon" src="icons/Addresses.svg"><p class="setting_text">My Address</p></div> <div><img class="arrow_icon" src="icons/Right_arrow.svg"></div></li>
        <li class="setting_list"> <div class="left"><img class="setting_icon" src="icons/User_icon.svg"> <p class="setting_text">Manage your profile</p> </div><div><img class="arrow_icon" src="icons/Right_arrow.svg"></div></li>
        <li class="setting_list"> <div class="left"><img class="setting_icon" src="icons/Vector.svg"> <p class="setting_text">Notification Setting</p> </div><div><img class="arrow_icon" src="icons/Right_arrow.svg"></div></li>
        <li class="setting_list"> <div class="left"><img class="setting_icon" src="icons/Face_id.svg"> <p class="setting_text">Login and Security</p> </div><div><img class="arrow_icon" src="icons/Right_arrow.svg"></div></li>
    </ul>
 </section>

</body>

</html>