<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="css/payment.css">
    <link rel="stylesheet" href="css/nav.css">
    <script defer src="frontend.js"></script>
</head>

<body>
    <main>
    <p class="title"> Payment
    <p>
    <div class="card_frame">
        <small class="small_text">Registered Card</small>
        <img class="credit_card" src="images/creditCard.png">

        <a href="addPayment" class="banner">
            <p class="method">ADD NEW PAYMENT METHOD</p>
            <img class="plus" src="icons/plus.svg">
        </a>
    </div>

    <p>Transaction History</p>

   

      <ul class="myOrders_frame">
        <% for(let i=0; i< myOrders.length; i++) {%>
        <li class="order_list">
            <small class="date"> <%= myOrders[i].date%></small>
            <small class="name"> <%=myOrders[i].tittle%></small>
            <small class="price"><%=myOrders[i].price%></small>
        </li>
        <%}%>
      </ul>
      </main>
      <nav class="nav">

        <a href="/home" class="nav_link">
            <img src="icons/Home.svg">
        </a>
        <a href="" class="nav_link">
            <img src="icons/Explore.svg"> 
        </a>
        <a href="" class="nav_link postNew">
            <img src="icons/Add.svg">
        </a>
        <a href="" class="nav_link">
            <img src="/icons/nav_chat.svg">
        </a>
        <a href="profile" class="nav_link">
            <img src="icons/Profile.svg">
        </a>
    </nav>


    <div class="createNew displayNone">
        <div class="bar"></div>
        <p class="create_text">Create New Listing</p>
        <a href="#" class="catagories electronics"><img class="cata_icon" src="icons/electronics.svg"> Electronics</a>
        <a href="#" class="catagories clothes"> <img class="cata_icon" src="icons/clothes.svg"> Clothes</a>
        <a href="#" class="catagories furniture"> <img class="cata_icon" src="icons/furniture.svg"> Funiture</a>
        <a href="#" class="catagories other"> <img class="cata_icon" src="icons/other.svg"> Other</a>
    </div>

</body>

</html>