<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Van Market</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script defer type="module" src="/frontend.js"></script>
</head>

<body>
    <div class="roundPanel"></div>
    <main>
        <div class="afterPanel">
            <div class="logo">
                <img src="icons/Logo.svg">
            </div>

            <div class="person">
                <% for (let user of users) { %>
                    <%if(user.user_id===1){ %>
                        <div class="image-cropper">
                            <img id="profile-pic" src="<%=user.profile_img%>">
                        </div>
                        <div class="name-text">
                            <p class="profile">Hi <strong>
                                    <%=user.username%>!
                                </strong><br>
                                <small>Hope you're having a great day</small>
                            </p>
                        </div>
                        <% } %>
                            <%}%>
            </div>
        </div>
        <section class="orders">
            <p>My posts</p>
            <% for(let i=0; i< posts.length; i++) {%>
                <ul>
                    <li id="product">
                        <div class="img-cropper-rectangle">
                            <img id="order-pic" src="<%= posts[i].url%>" <p>
                        </div>
                        <div class="order-text">
                            <%= posts[i].title%><br>
                                <small>waiting for seller to ship</small></p>
                        </div>
                        <div class="rightArrow">
                            <img src="icons/Right_arrow.svg">
                        </div>

                    </li>
                </ul>
                <%}%>
        </section>

        <div class="account">
            <a class="account" href="account">Account Settings</a>
        </div>

        <section class="five_list">
            <ul class="setting">
                <li class="setting_list">
                    <div class="left"><img class="setting_icon" src="icons/Credit_Card.svg"><a href="payment"
                            class="setting_text">Payment</a> </div>
                    <div><img class="arrow_icon" src="icons/Right_arrow.svg"></div>
                </li>
                <li class="setting_list">
                    <div class="left"><img class="setting_icon" src="icons/Addresses.svg"><a href="#"
                            class="setting_text">My Address</a></div>
                    <div><img class="arrow_icon" src="icons/Right_arrow.svg"></div>
                </li>
                <li class="setting_list">
                    <div class="left"><img class="setting_icon" src="icons/User_icon.svg"> <a href="#"
                            class="setting_text">Manage your profile</a> </div>
                    <div><img class="arrow_icon" src="icons/Right_arrow.svg"></div>
                </li>
                <li class="setting_list">
                    <div class="left"><img class="setting_icon" src="icons/Vector.svg"> <a href="#"
                            class="setting_text">Notification Setting</a> </div>
                    <div><img class="arrow_icon" src="icons/Right_arrow.svg"></div>
                </li>
                <li class="setting_list">
                    <div class="left"><img class="setting_icon" src="icons/Face_id.svg"> <a href="#"
                            class="setting_text">Login and Security</a> </div>
                    <div><img class="arrow_icon" src="icons/Right_arrow.svg"></div>
                </li>
            </ul>
        </section>
    </main>
    <nav class="nav">

        <a href="/home" class="nav_link">
            <img src="icons/Home.svg">
        </a>
        <a href="" class="nav_link">
            <img src="icons/Explore.svg">
        </a>
        <a href="" class="nav_link postNew">
            <img src="icons/Add.svg">
        </a>
        <a href="" class="nav_link">
            <img src="/icons/nav_chat.svg">
        </a>
        <a href="profile" class="nav_link">
            <img src="icons/me-filled.svg">
        </a>
    </nav>


    <div class="createNew displayNone">
        <div class="bar"></div>
        <p class="create_text">Create New Listing</p>
        <a href="#" class="catagories electronics"><img class="cata_icon" src="icons/electronics.svg"> Electronics</a>
        <a href="#" class="catagories clothes"> <img class="cata_icon" src="icons/clothes.svg"> Clothes</a>
        <a href="#" class="catagories furniture"> <img class="cata_icon" src="icons/furniture.svg"> Funiture</a>
        <a href="#" class="catagories other"> <img class="cata_icon" src="icons/other.svg"> Other</a>
    </div>


</body>

</html>