<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <script type="module" src="/signup.js" ></script>
    <title>VanMarket</title>
    <link rel="icon" type="image/x-icon" href="/icons/logo.svg">
</head>
<body>
    <img class="signupLogo" src="/icons/Logo.svg">
    <p class="big">Create Account</p>
    <form action="" class="signupForm">
        <input placeholder="Name" type="text" class="signupInput name">
        <input placeholder="Email" type="email" class="signupInput email">
        <input placeholder="Password" type="password" class="signupInput password">
        <input placeholder="Confirm Password" type="password" class="signupInput confirmPassword">
        <button type="submit" class="signupBtn">Sign up</button>

    </form>

    <p class="small">Aready have an account? <a href="/login">Log in</a> </p>
 
</body>
</html>

