<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <img class="signupLogo" src="/icons/Logo.svg">
    <p class="big">Create Account</p>
    <form action="" class="signup">
        <input placeholder="Name" type="text" class="signupInput name">
        <input placeholder="Email" type="email" class="signupInput email">
        <input placeholder="Password" type="text" class="signupInput password">
        <input placeholder="Confirm Password" type="text" class="signupInput confirmPassword">
    </form>

    <button class="signupBtn">Signup</button>
    <p class="small">Aready have an accoutn?    <a href="">Login</a> </p>
 
</body>
</html>

