<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Van Market</title>
</head>
<body>
    <main>
        <div>
            <img src="">
        </div>
        <div><%= post.title %> 

        </div>
        <div><%= post.date %> </div>
        <div><%= post.price %> 
        </div>
        <div><%= post.description %> </div>

        <div>
            <a href=""><img src=""> Delete Listing </a>
            <a href=""><img src=""> Edit Listing </a>
            <a href=""><img src=""> Mark as sold</a>
        </div>
    </main>
</body>
</html>