body {
    margin:0 0 140px 0;
    overflow-x: hidden;
    background-color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    box-sizing: border-box;
}

div.talkingTo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 90px;
    height: 60px;
    width: 100%;
    border-bottom: 0.3px solid #BFBFBF;
    overflow: hidden;
    position: fixed;
    background-color:white ;
    z-index: 1;
}

hr{
    margin-bottom: 25px;
}

.otherName {
    font-size: x-large;
}

#message-container {
    width: 290px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  
}

form#form{
    border: 1px solid #BFBFBF;
    height: 36px;
    bottom: 95px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    background-color: #F7F7F7;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
#message-input {
    font-size: larger;
    caret-color: #F37C49;
    width: 250px;
    height: 36px;
    border: none;
    background-color: #F7F7F7;
}

div.messages{
    font-size: large;
    margin: 5px 0 5px 0;
}

*:focus{
    outline: none;
}

#send-button{
    border: none;
    background-color: #F7F7F7;
}

img#msgIcon{
    margin-top: 5px;
}

.myFrame{
    align-self: flex-end;
    border-radius: 10px 10px 10px 10px;
   
}

.myFrame::after{
   content: "";
    display: block;
    position: absolute;

    right: -14px;
    bottom:15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 2px solid transparent;
    border-right:15px solid #F37C49;
    transform: rotateY(180deg);
}





.TheirFrame{
    align-self: flex-start;
    border-radius: 10px 10px 10px 10px;
}


.TheirFrame::after{
    content: "";
    display: block;
    position: absolute;

    left: -14px;
    bottom:15px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 2px solid transparent;
    border-right:15px solid #F37C49;

}

.frame{
    color: white;
    background-color: #F37C49;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    width: auto;
    max-width: 230px;
    position: relative;
    border: #F37C49;
    min-width: 80px;
    min-height: 50px;
    padding-bottom: 20px;
}

.message{
    font-size: large;
}
.time{
    position: absolute;
    right: 6px;
    bottom: 3px;
    font-size: small;
    align-self: baseline;
    margin-right: 0;
    color: white
}