* {
    box-sizing: border-box;
}

body {
    margin: 30px 0 85px 0;
    overflow-x: hidden;
    background-color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
margin-left: -20px;
}

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#profile-pic {
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-text{
    text-decoration: none;
    color: #BFBFBF;
    font-size: small;
}

div.person {
    display: flex;
    flex-direction: row;
}

.name-text {
    margin-left: 10px;
    margin-top: -10px;
}



.img-cropper-rectangle {
    width: 120px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}

#order-pic {
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

#product{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.order-text{
    align-self: center;
}
.arrowFrame{
    position: relative;
    left:0;
    display: grid;
    grid-template-columns: 95% 5%;
    column-gap: 30px;
    margin-top: 10px;
}

.rightArrow{
    align-self: center;
}