* {
    box-sizing: border-box;
}

body {
    margin: 0 0 85px 0;
    overflow-x: hidden;
    background-color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
}



.roundPanel {
    position: relative;
    width: auto;
    height: 100px;
    margin-bottom: 20px;
    background-color: #F37C49;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 400px) {
    .roundPanel {
        position: relative;
        width: 850px;
        height: 850px;
        background-color: #F37C49;
        border-radius: 850px;
        margin-top: -720px;
        margin-left: -235px;
        margin-bottom: 20px;
        z-index: 1;
    }
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-cropper {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#profile-pic {
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.person {
    display: flex;
    flex-direction: row;
}

.name-text {
    margin-left: 10px;
    margin-top: -10px;
}

.orders {
    margin-left: 10px;
}

.img-cropper-rectangle {
    width: 120px;
    height: 120px;
    margin-left: 15px;
    position: relative;
    overflow: hidden;

}

#order-pic {
    height: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

li {
    margin-top: -2em;
    margin-left: -2.5em;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.order-text {
    margin-left: 20px;
    margin-top: 30px;
}

.rightArrow {
    margin-left: 35px;
    margin-top: 30px;
}

.account {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

section.five_list {
    margin-left: 20px;
    margin-top: 3em;
}

.left {
    display: grid;
    grid-template-columns: 5% 95%;

}

li.setting_list {
    margin-bottom: 20px;
    margin-left: -2.5em;
    display: grid;
    grid-template-columns: 86% 10%;
    list-style: none;
}

.setting_icon {
    margin-top: 2em;
}

a.setting_text {
    margin-left: 2em;
    margin-top: 2em;
    text-decoration: none;
    color: black;
}

.arrow_icon {
    margin-top: 30px;
    margin-right: 40px;
    width: auto;
    height: auto;
}
