body {
    margin: 0;
}


.logo {
    display: flex;
    justify-content: center;
    margin-top: 13%;
}

main {
    width: 320px;
    margin-left: calc((100% - 320px)/2)
}

.above-card {
    width: 320px;
    margin-left: calc((100vw - 320px)/2);
    display: flex;
    justify-content: flex-end;
    margin-top: 8vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 80px;
    cursor: pointer;
}


.card {
    width: 320px;
    height: 560px;
    position: absolute;
    top: 50%;
    margin-top: 30px;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: #272727;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
}


.swipe_text {
    display: none;
}


.prdct-image img {
    width: 270px;
    height: 261px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 10%;
    width: 80%;
}

.prdct-name-price {
    width: 280px;
    height: 40px;
    padding-left: 12px;
    margin-top: 20px;
    margin-left: 12px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0px;
    padding-bottom: 0%;
}


.seller-prdct-info {
    width: 280px;
    height: 40px;
    padding-left: 12px;
    margin-top: 50px;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
}


.decision {
    width: 280px;
    height: 40px;
    padding-top: 50px;
    padding-left: 8px;
    margin-top: 40px;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seller-prdct-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* justify-content: space-around; */
}

.seller-prdct-info h4 {
    color: aliceblue;
    margin-left: 10px;
    /* margin-top: -0.5px; */
}

.seller-prdct-info p {
    color: aliceblue;
    margin-top: 0%;
}

.seller-name-info {
    display: flex;
    flex-direction: column;
    /* justify-content:cent */
}

.seller-prdct-info img {
    margin-left: 0px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-top: 12px;

}

.seller-name {
    margin-bottom: 10%;
}

img.pfp-img {
    height: 60px;
    width: 60px;
}

.prdct-desc {
    margin-left: 10px;
}